{% extends "__layout.twig" %}

<h1>Мстители (2012)</h1>
<div>
    <ul class="nav nav-pills">
        <li class="nav-item d-flex flex-row">
            <a class="nav-link <?= $is_image ? "active" : '' ?>" href="/avengers/images">
                Картинка
            </a>
            <a class="nav-link <?= $is_info ? "active" : '' ?>" href="/avengers/info">
                Описание
            </a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <?php if ($is_image) { ?>
        <img class="image_wrap" src="/images/avengers.jpeg" alt="Мстители(2012)">
    <?php } else if ($is_info) { ?>
        <div class="text_wrap">
            Локи, сводный брат Тора, возвращается, и в этот раз он не один. Земля оказывается на грани порабощения, и только лучшие из лучших могут спасти человечество. Глава международной организации Щ.И.Т. Ник Фьюри собирает выдающихся поборников справедливости и добра, чтобы отразить атаку. Под предводительством Капитана Америки Железный Человек, Тор, Невероятный Халк, Соколиный Глаз и Чёрная Вдова вступают в войну с захватчиком.
        </div>
    <?php } else if ($is_info_def) { ?> 
        <div class="text_wrap">
            Выберите одну из категорий
        </div>
    <?php } ?> 
</div>