{% from "/macros/btn.twig" import btn as btn %}
{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group" style="margin-top: 25px;">
    {% for item in menu %}
      {% if loop.index0 != 0 %}
        <li class="list-group-item">
        <!--так как item это словарик с двумя ключами, используем их для вывода ссылки -->
          {{ btn(item.title, item.url, true, "info") }}
          {{ btn("Картинка", item.url ~ "/image", false, "primary") }}
          {{ btn("Описание", item.url ~ "/info", false, "primary") }}
        </li>
      {% endif %}
    {% endfor %}
</ul>
{% endblock %}