{% extends "__layout.twig" %}

{% block content %}
    <h2 class="title_h2">Поиск фильма</h2>

    <form action="">
        <div class="d-flex" style="flex-direction: row; margin-bottom: 20px;">
            <label>Жанр <select class="form-control form-control-lg" name="type">
                <option value="Все">Все</option>
                {% for type in types %}
                    <option value="{{ type.type }}">{{ type.type|title }}</option>
                {% endfor %}
                </select>
            </label> 

            <label>Название <input class="form-control form-control-lg" type="text" name="title"></label>  
            <label>Описание <input class="form-control form-control-lg" type="text" name="info"></label>  
        </div>
        
        <button class="btn btn-lg btn-primary mb-3" type="submit">Найти</button>
    </form>

    <h2 class="title_h2">Результаты поиска</h2>
    <div>
        {% for el in objects %}
            <a href="/films-objects/{{ el.id }}" class="result_a">{{ el.title }}</a>
        {% endfor %}
    </div>

{% endblock %}